*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}


h1{
    margin-left: 445px;
    font-weight: bold;
}

img{
    margin-left: 513px;
}

ul{
    margin-left: 535px;
    font-size: 18px;
}

p {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 513px;
}

.Список{
    padding-top: 10px;
}

.Телефон{
    padding-top: 10px;
}

.Профіль{
    padding-top: 10px;
}

div a{
    margin-left: 513px;
    color: blue;
    font-size: 20px;
}

.Інформація{
    padding-top: 25px;
}
