h1{
    margin-left: 402px;
    font-weight: bold;
}

img{
    margin-left: 455px;
}

ul{
    margin-left: 455px;
    font-size: 18px;
}

p {
    font-size: 18px;
    line-height: 30px;
    margin: 10px 455px;
}

.Список{
    padding-top: 10px;
}

.Телефон{
    padding-top: 10px;
}

.Профіль{
    padding-top: 10px;
}

div a{
    margin-left: 455px;
    color: blue;
    font-size: 20px;
}

.Інформація{
    padding-top: 25px;
}
